{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Hippopotamus - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
<p>
    New user?
    <a href="{{ url_for('auth.register') }}">
        Click here to register
    </a>
</p>
<div class="login-form">
	{{ wtf.quick_form(login_form) }}
</div>
{% endblock %}
