{% extends "chess_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Hippopotamus - Chess{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Yooz playn chessss!</h1>
</div>
<div id="chess-and-score">
    <div id="chess">
        <table id="chessboard">
            <tr>
                <div class="left" id="board" style="width: 400px"></div>
            </tr>
            <br>
            <tr>
                <td style="width: 200px"><a class="btn btn-danger" href="{{ url_for('.killgame') }}">Quit Without Saving</a></td>
                <td style="width: 200px"><a id="saveAndQuit" class="btn btn-default" href="{{ url_for('.save_and_quit') }}">Save and Quit</a></td>
            </tr>
        </table>
    </div>
    <div id="score" class="tg-wrap"><table class="tg">
      <tr>
        <th class="tg-031e">Computer Score</th>
        <th class="tg-031e">Your Score</th>
      </tr>
      <tr>
        <td class="tg-031e" id="cpu-score">0</td>
        <td class="tg-031e" id="user-score">0</td>
      </tr>
    </table></div>
</div>
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>
{% include '_post_list.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.posts') }}
</div>
{% endif %}
{% endblock %}
