{% extends "chess_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Hippopotamus - Chess{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Yooz playn chessss against the {{ ai }} AI!</h1>
</div>
<div id="chess-and-score">
    <div id="chess">
        <table id="chessboard">
            <tr>
                <div class="left" id="board" style="width: 400px"></div>
            </tr>
            <br>
            {% if current_user.is_game_owner(game_id) %}
                <tr>
                    <td style="width: 200px"><a class="btn btn-danger" href="{{ url_for('.killgame') }}">Quit Without Saving</a></td>
                    <td style="width: 200px"><a id="saveAndQuit" class="btn btn-default" href="{{ url_for('.save_and_quit') }}">Save and Quit</a></td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div id="score" class="tg-wrap">
        <table class="table table-striped table-hover ">
          <tr>
            <th>Computer Score</th>
            <th>Your Score</th>
          </tr>
          <tr>
            <td id="cpu-score">0</td>
            <td id="user-score">0</td>
          </tr>
        </table>
    </div>
</div>
<br>
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>
<div id="posts_and_pages">
    {% include '_post_list.html' %}
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.posts') }}
    </div>
    {% endif %}
</div>
<div>
    <ul id="response">

    </ul>
</div>
{% endblock %}
