{% extends "chess_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Hippopotamus - Chess{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Yooz playn chessss!</h1>
</div>
<table style="width:100%">
    <tr>
        <td><div class="left" id="board" style="width: 400px"></div></td>
        <td>
            <td>Hello world</td>
            <td>Jeff Rules</td>
        </td>
    </tr>
</table>
<div class="login-form">
    <!-- could put form here -->
</div>
{% endblock %}
